<div class="container">
  <div class="main">
    <div class="header">
      <img src="../assets/twitch-logo.png" alt="">
      <div class="title">Tham gia Twitch ngay hôm nay</div>
    </div>

    <div class="login-signup">
      <div class="login">Đăng nhập</div>
      <div class="signup">Đăng ký</div>
    </div>

    <div>
      <div class="text">Tên người dùng</div>
      <input type="text">
    </div>

    <div>
      <div class="text">Mật khẩu</div>
      <input type="password">
    </div>

    <div>
      <div class="text">Xác nhận mật khẩu</div>
      <input type="password">
    </div>

    <div class="date-of-birth">
      <div class="text">Ngày sinh</div>
      <div class="dob-input">
        <input class="date-input" type="text" placeholder="Ngày">
        <select class="month-select" name="" id="">
          <option value="">Tháng</option>
          <option value="">Tháng 1</option>
          <option value="">Tháng 2</option>
          <option value="">Tháng 3</option>
          <option value="">Tháng 4</option>
          <option value="">Tháng 5</option>
          <option value="">Tháng 6</option>
          <option value="">Tháng 7</option>
          <option value="">Tháng 8</option>
          <option value="">Tháng 9</option>
          <option value="">Tháng 10</option>
          <option value="">Tháng 11</option>
          <option value="">Tháng 12</option>
        </select>
        <input class="year-input" type="text" placeholder="Năm">
      </div>
    </div>

    <div>
      <div class="text">Số điện thoại</div>
      <div class="phone-number">
        <select class="phone-select" name="" id="">
          <option value="">Việt Nam +84</option>
          <option value="">Trung Quốc +86</option>
        </select>
        <input class="phone-input" type="text">
      </div>
    </div>

    <div>
      <button class="email-signup-btn">Thay vào đó hãy sử dụng email</button>
    </div>

    <div class="footer-text">
      Twitch có thể sử dụng số điện thoại của bạn để gọi điện hoặc gửi tin nhắn để thông báo về tài khoản của bạn.
    </div>

    <div class="footer-text">
      Nhấn vào Đăng ký đồng nghĩa với việc bạn đồng ý với
      <a href="">Điều khoản dịch vụ</a> của Twitch và công nhận hiệu lực của
      <a href="">Thông báo về quyền riêng tư</a> của chúng tôi.
    </div>

    <div class="signup-btn">
      <button>Đăng ký</button>
    </div>
  </div>
</div>